bcrypt==4.0.1
cryptography==41.0.2
fastapi==0.100.0
Jinja2==3.1.2
jose==1.0.0
passlib==1.7.4
pip==23.2.1
python-jose==3.3.0
python-multipart==0.0.6
requests==2.31.0
setuptools==58.1.0
SQLAlchemy==2.0.19
uvicorn==0.23.1
