{% extends "base.html" %}

{% block content %}
<div x-data="llm_challenge" class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
        <h2 x-text="name"></h2>
        <div x-text="description"></div>
    </div>
    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
        <label for="comment" class="block text-sm font-medium leading-6 text-gray-900">Prompt</label>
        <div class="mt-2">
            <textarea x-model="input" rows="6" name="comment" id="comment" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
        </div>
        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button @click="clear()" type="button" class="text-sm font-semibold leading-6 text-gray-900">Clear</button>
            <button @click="generate()" type="button" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Generate</button>
        </div>
    </div>
    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
        <div class="mt-2 gap-x-6">
            <textarea x-text="output" rows="6" name="comment" id="comment" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
        </div>
        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button @click="report()" type="button" class="text-sm font-semibold leading-6 text-gray-900">Report</button>
            <button @click="submit()" type="button" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Submit</button>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script defer src="{{ url_for('static', path=js_path) }}"></script>
{% endblock %}
