<!doctype html>
<html>
<head>
    <title>LLM Challenge of the Day</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    
</head>
<body>
    <h1>LLM Challenge of the Day!</h1>
    <div x-data="llm_challenge">
        <h2 x-text="name"></h2>
        <div x-text="description"></div>
        <textarea x-model="input"></textarea>
        <button @click="generate()">Generate</button>
        <div x-text="output"></div>
    </div>

    <script defer src="{{ url_for('static', path=js_path) }}"></script>
</body>
</html>