<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Challenges</h1>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0 w-40">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 break-normal">Description</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 break-normal">Preprompt</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 w-16">Model Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 w-5">Generations</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 w-5" >Submissions</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 w-5">Enabled</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0 w-5">View</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0 w-5">Submitted</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0 w-5">Reported</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0 w-5">Duds</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              {% for challenge in challenges %}
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{ challenge.name }}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 break-normal">{{ challenge.description }}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 break-normal">{{ challenge.preprompt }}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ challenge.model }}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ challenge.num_generations }}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ challenge.num_submissions }}</td>
                {% if challenge.enabled %}
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-green-500"><a href="{{ https_url_for('toggle_challenge', challenge_id = challenge.id) }}">Enabled</a></td>
                {% else %}
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-red-500"><a href="{{ https_url_for('toggle_challenge', challenge_id = challenge.id) }}">Disabled</a></td>
                {% endif %}
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                  <a href="{{ https_url_for('challenge_generations', challenge_id = challenge.id) }}" class="text-indigo-600 hover:text-indigo-900">View</a>
                </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    <a href="{{ https_url_for('challenge_generations', challenge_id = challenge.id) }}?submitted=True" class="text-indigo-600 hover:text-indigo-900">Submitted</a>
                  </td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    <a href="{{ https_url_for('challenge_generations', challenge_id = challenge.id) }}?reported=True" class="text-indigo-600 hover:text-indigo-900">Reported</a>
                  </td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    <a href="{{ https_url_for('challenge_generations', challenge_id = challenge.id) }}?submitted=False&reported=False" class="text-indigo-600 hover:text-indigo-900">Duds</a>
                  </td>
              </tr>
              {% endfor %}
              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>